
  .formulario-padre{
    margin-left: 15px;
    height: 950px;
    width: 400px;
    justify-content: space-evenly;
    background-color: bisque;
    box-shadow: -1px -5px 14px -2px rgba(0,0,0,0.75);
  .foto-formulario {
  width: 370px;
  height: 370px;
  border-radius: 25px;
  }
  
  .formulario-hijo{
  
  width: 370px;
  height: 450px;
  padding-top: 40px;
  margin: 20px;
  
  }
  
  .mensajes {
  width: 370px;
  height: 100px;
  margin-top: 30px;
  }
}

.boton {
  margin-left: 140px;
  margin-top: 20px;
}


.mas-informacion {
  text-align: center;
}



