
  .imagenes-inicio {
    width: 500px;
    height: 500px;
    border-radius: 25px;
    padding-left: 15px;
    img {
  margin: 15px;
  border-radius: 10px;

  }
 }

 .imagenes-inicio :hover   { 
  transform: scale( 1.1);
  transition-duration: 1s;
  box-shadow: -1px -5px 14px -2px rgba(0,0,0,0.75);
}



@media (max-width: 425px) {
.imagenes-inicio {
  width: 305px;
  height: auto;
  border-radius: 25px;
  flex-direction: column;
  align-items: center;
  margin-top: 10px; 
  margin-left: 45px;
}
}