
  .imagenes-inicio {
    width: 500px;
    height: 500px;
    border-radius: 25px;
    padding-left: 15px;
    img {
  margin: 15px;
  border-radius: 10px;
  }
 }

 .imagenes-inicio :hover   { 
  transform: scale( 1.1);
  transition-duration: 1s;
  
}



@media (max-width: 760px) {
.imagenes-inicio {
  width: 380px;
  height: auto;
  border-radius: 25px;
  margin-left: 50px;
  flex-direction: column;
  
}
}