.card-title {
    font-size: 60px;
    color: black
    }
    .desc-prod {
    font-size: 25px;
   font-family: 'Oswald', sans-serif;
   color: black;
}





.contenedor-cotacto{
    width: auto;
   height: 230px;
   text-align: center;

.cuerpo-contenedor{
   $fuente:'Oswald', sans-serif;
   font-size: 35px;}
.card-text {
   $fuente:'Oswald', sans-serif;
   font-size: 25px;
}
.whatsap {
   @extend .card-text;
}

}