

*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
}

a{ text-decoration: none;
    color: black;}

    $colorpricipal:#59c1b1;   
    @import"_variables";
    @import"_navbar";
    @import"_tarjetasProductos";
    @import "_footer";
    @import"_imagenesInicio";
    @import "_motivosveggo";
    @import "_formulario";





    @media (max-width: 425px) {

      h3 {
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
       }

    }
    
    .contenedor-cotacto{

      height: 350px;
    }

    .vuelta-menu{
      text-align: center;
    }